.container {
  padding: 0 2rem;
}

.main {
  /* min-height: 100vh;
  padding: 4rem 0; */
  height: 98vh;
  max-width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .join {
    width: 100%;
    height: 1024px;
    display: flex;
    position: relative;
    max-width: 1440px;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    border-radius: 0px 0px 0px 0px;
    background-color: rgba(255, 255, 255, 1);
  }
  .frame4 {
    top: 395px;
    left: 195px;
    width: 408px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: column;
  }
  .text {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 40px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Open Sans;
    font-weight: 600;
    line-height: 72px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 40px;
    text-decoration: none;
  }
  .frame3 {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: column;
  }
  .frame2 {
    width: 408px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: column;
  }
  .email {
    width: 408px;
    height: 56px;
    display: flex;
    position: relative;
    align-self: stretch;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: rgba(194, 200, 208, 1);
    border-style: solid;
    border-width: 1px;
    margin-right: 0;
    border-radius: 4px;
    margin-bottom: 16px;
  }
  .input-text-trailing-icon {
    top: 16px;
    left: 16px;
    width: 380px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    justify-content: space-between;
  }
  .input-text-cursor {
    color: rgba(133, 133, 133, 1);
    display: flex;
    position: relative;
    font-size: 16px;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    font-family: Open Sans;
    font-weight: 400;
    border-color: transparent;
    border-radius: 0px 0px 0px 0px;
  }
  .trailing-iconor-text {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    border-radius: 0px 0px 0px 0px;
  }
  .frame-main-component-no-icon-large {
    display: flex;
    padding: 13px 25px;
    position: relative;
    align-self: stretch;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 2px;
    margin-bottom: 0;
    justify-content: center;
    background-color: var(--dl-color-default-blue);
  }
  .text02 {
    color: var(--dl-color-default-whitebackgroundprimary);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Open Sans;
    font-weight: 600;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .group1 {
    top: 24px;
    left: 730px;
    width: 622px;
    height: 976px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .rectangle2 {
    top: 0px;
    left: 0px;
    width: 622px;
    height: 850px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 16px;
  }
  .frame1 {
    top: 796px;
    left: 107px;
    width: 408px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 0px 0px 0px 0px;
    justify-content: center;
  }
  .frame-main-component-no-icon-large1 {
    display: flex;
    padding: 16px 24px;
    position: relative;
    flex-grow: 1;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    margin-right: 16px;
    border-radius: 2px;
    margin-bottom: 0;
    justify-content: center;
    background-color: var(--dl-color-default-pink);
  }
  .text04 {
    color: var(--dl-color-default-white);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Open Sans;
    font-weight: 600;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame-main-component-no-icon-large2 {
    display: flex;
    padding: 16px 24px;
    position: relative;
    flex-grow: 1;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    margin-right: 0;
    border-radius: 2px;
    margin-bottom: 0;
    justify-content: center;
    background-color: var(--dl-color-default-blue);
  }
  .text06 {
    color: var(--dl-color-default-white);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Open Sans;
    font-weight: 600;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .image8 {
    top: 124px;
    left: 214px;
    width: 194px;
    height: 194px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
  }
  .text08 {
    top: 631px;
    left: 107px;
    color: var(--dl-color-default-black);
    width: 408px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 32px;
    font-stretch: normal;
    text-decoration: none;
  } */