.container {
  padding: 0 2rem;
}

.main {
  height: 98vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz {
position: absolute;
top: 150%;
left: 130%;
right: auto;
bottom: auto;
 margin-right: -50%;
 transform: translate(-50%, -50%);
 width: 970px;
 height: 550px;
 background-color: rgba(255, 255, 255, 1);
}

.rectangle1910 {
  top: 184.788818359375px;
  left: 124.5px;
  width: 587px;
  height: 45px;
  opacity: 0.20;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}

.rectangle1913 {
  top: 306.1885986328125px;
  left: 1219.29248046875px;
  width: 587px;
  height: 45px;
  opacity: 0.20;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}

.rectangle1912 {
  top: 974.2091064453125px;
  left: -439.3994140625px;
  width: 1182px;
  height: 70px;
  opacity: 0.20;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.time {
  top: 170px;
  left: 670px;
  width: 180px;
  height: 168px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.vector {
  top: 10.630866050720215px;
  left: 15.810754776000977px;
  width: 136px;
  height: 146px;
  position: absolute;
}
.vector1 {
  top: 10.630866050720215px;
  left: 15.749939918518066px;
  width: 69px;
  height: 147px;
  position: absolute;
}
.text {
  top: 62.642822265625px;
  left: 51.96437454223633px;
  color: var(--dl-color-default-black);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 85.6000006198883%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame28 {
  top: 73px;
  left: 88px;
  width: 194px;
  display: flex;
  padding: 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(238, 238, 238, 1);
}
.text02 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 10px;
  margin-bottom: 0;
  text-decoration: none;
}
.text04 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 36px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame36 {
  top: 73px;
  left: 1159px;
  width: 250px;
  display: flex;
  gap: 25px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(238, 238, 238, 1);
}
.cog {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 10px;
}
.text05 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.full_control {
  margin-top: -1em;
}

.slider_container input {
  vertical-align: bottom;
  margin-left: 25px;
} 
.settings_modal{
  position: absolute;
   top: 53%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 396px 111px 0px rgba(0, 0, 0, 0) ;
  border-color: rgba(238, 238, 240, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 16px;
}
.volume{
  margin-top: 80px;
  text-align: center;
}

.volume_label{
  font-size: 22px;
}
.volume_value{
  margin-left: 25px;
}
.modal{
  position: absolute;
   top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 970px;
  height: 550px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 396px 111px 0px rgba(0, 0, 0, 0) ;
  border-color: rgba(238, 238, 240, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 16px;
 } 
 .modal_btn{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 100px;
 }
 .quizend_modal{
  position: absolute;
   top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 500px;
  background-color: #ffffff;
  border: none;
 } 
 .quizend_text{
  font-weight: bolder;
  text-align: center;
  font-size:  50px;
  width: auto;
 }
 .quizend_btn_text{
  background: transparent;
  font-weight: 400;
  font-size: 18px;
  width: auto;
 }
 .quizend_btn_cont{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20%;
  gap: 10px;
 }
 .score_container{
  display: block;
  margin-top: 70px;
  /* margin-inline: auto; */
 }
 .score{
  font-weight: bolder;
  text-align: center;
  font-size:  50px;
  width: auto;
 }
 .btn_cont{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;
 }
 .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    gap: 5px;
 }
 .btn_img{
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  text-align: center;

 }
 .play_again{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;
  gap: 5px;
 }
 .play_img{
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  text-align: center;
 }
 .play{
  background: transparent;
  font-weight: 400;
  font-size: 18px;
 }
.frame38 {
  top: 73px;
  left: 613px;
  width: 224px;
  display: flex;
  padding: 16px;
  position: absolute;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(238, 238, 238, 1);
}
.text07 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 36px;
  align-self: auto;
  /* font-style: Bold; */
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 10px;
  margin-bottom: 0;
  text-decoration: none;
}
.text09 {
  color: var(--dl-color-default-pink);
  height: auto;
  font-size: 36px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame37 {
  top: 500px;
  left: 350px;
  width: 836px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.text11 {
  color: var(--dl-color-default-blue);
  width: 100%;
  height: auto;
  font-size: 60px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 48px;
  text-decoration: none;
}

.grid{
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 120px;
  row-gap: 50px;
}

.row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-color: blue;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px;
}
.radio-btn-cont{
  width: auto;
  margin-top: 5px;
  /* margin-left: 5px; */
}
.radio-btn{
  width: 60px;
  height: 60px;
  background-color: black;
}
.answer-option{
  width: 100%;
  font-style: normal;
  margin-left: 12px;
  font-size: 42px;
  color: black;
  font-weight: 700;

}

.frame35 {
  top: 1500px;
  left: 0px;
  width: 1440px;
  height: 148px;
  display: flex;
  padding: 24px 88px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}

.prev_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 20%;
border-radius: 50px;
background-color: beige;
}

.left_icon{
margin-top: 10px;
text-align: center;
width: 24px;
height: 26px;
margin-right: 5px;
}

.previous{
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}

.next_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 20%;
border-radius: 50px;
background-color: #0047ab;
}

.right_icon{
  margin-top: 10px;
  text-align: center;
  width: 24px;
  height: 26px;
  margin-right: 5px;
  }

  .next{
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #ffffff;
  }

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .container {
    padding: 0 2rem;
  }
  
  .main {
    height: 98vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .quiz {
  position: absolute;
  top: 30%;
  left: 50%;
  right: auto;
  bottom: auto;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   width: 970px;
   height: 550px;
   background-color: rgba(255, 255, 255, 1);
  }
  .rectangle1910 {
    top: 184.788818359375px;
    left: 124.5px;
    width: 587px;
    height: 45px;
    opacity: 0.20;
    position: absolute;
    border-color: transparent;
    border-radius: 50px;
  }
  .rectangle1913 {
    top: 306.1885986328125px;
    left: 1219.29248046875px;
    width: 587px;
    height: 45px;
    opacity: 0.20;
    position: absolute;
    border-color: transparent;
    border-radius: 50px;
  }
  .rectangle1912 {
    top: 974.2091064453125px;
    left: -439.3994140625px;
    width: 1182px;
    height: 70px;
    opacity: 0.20;
    position: absolute;
    border-color: transparent;
    border-radius: 50px;
  }
  .time {
    top: 180px;
    left: 670px;
    width: 168px;
    height: 168px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .vector {
    top: 10.630866050720215px;
    left: 15.810754776000977px;
    width: 136px;
    height: 146px;
    position: absolute;
  }
  .vector1 {
    top: 10.630866050720215px;
    left: 15.749939918518066px;
    width: 69px;
    height: 147px;
    position: absolute;
  }
  .text {
    top: 62.642822265625px;
    left: 51.96437454223633px;
    color: var(--dl-color-default-black);
    width: 64px;
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 85.6000006198883%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame28 {
    top: 73px;
    left: 88px;
    width: 194px;
    display: flex;
    padding: 16px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 8px;
    justify-content: center;
    background-color: rgba(238, 238, 238, 1);
  }
  .text02 {
    color: var(--dl-color-default-black);
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 10px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text04 {
    color: var(--dl-color-default-black);
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame36 {
    top: 73px;
    left: 1159px;
    width: 250px;
    display: flex;
    gap: 25px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 8px;
    justify-content: center;
    background-color: rgba(238, 238, 238, 1);
  }
  .cog {
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 10px;
  }
  .text05 {
    color: var(--dl-color-default-black);
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 28px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  
  .full_control {
    margin-top: -1em;
  }
  
  .slider_container input {
    vertical-align: bottom;
    margin-left: 25px;
  } 
  .settings_modal{
    position: absolute;
     top: 53%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 396px 111px 0px rgba(0, 0, 0, 0) ;
    border-color: rgba(238, 238, 240, 1);
    border-style: solid;
    border-width: 5px;
    border-radius: 16px;
  }
  .volume{
    margin-top: 80px;
    text-align: center;
  }
  
  .volume_label{
    font-size: 22px;
  }
  .volume_value{
    margin-left: 25px;
  }
  .modal{
    position: absolute;
     top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 970px;
    height: 550px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 396px 111px 0px rgba(0, 0, 0, 0) ;
    border-color: rgba(238, 238, 240, 1);
    border-style: solid;
    border-width: 5px;
    border-radius: 16px;
   } 
   .modal_btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 100px;
   }
   .quizend_modal{
    position: absolute;
     top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 500px;
    background-color: #ffffff;
    border: none;
   } 
   .quizend_text{
    font-weight: bolder;
    text-align: center;
    font-size:  50px;
    width: auto;
   }
   .quizend_btn_text{
    background: transparent;
    font-weight: 400;
    font-size: 18px;
    width: auto;
   }
   .quizend_btn_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    gap: 10px;
   }
   .score_container{
    display: block;
    margin-top: 70px;
    /* margin-inline: auto; */
   }
   .score{
    font-weight: bolder;
    text-align: center;
    font-size:  50px;
    width: auto;
   }
   .btn_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
   }
   .btn{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 20%;
      gap: 5px;
   }
   .btn_img{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    text-align: center;
  
   }
   .play_again{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    gap: 5px;
   }
   .play_img{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    text-align: center;
   }
   .play{
    background: transparent;
    font-weight: 400;
    font-size: 18px;
   }
  .frame38 {
    top: 73px;
    left: 613px;
    width: 224px;
    display: flex;
    padding: 16px;
    position: absolute;
    align-items: center;
    border-color: transparent;
    border-radius: 8px;
    justify-content: center;
    background-color: rgba(238, 238, 238, 1);
  }
  .text07 {
    color: var(--dl-color-default-black);
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 10px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text09 {
    color: var(--dl-color-default-pink);
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame37 {
    top: 350.5px;
    left: 302px;
    width: 836px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
  }
  .text11 {
    color: var(--dl-color-default-blue);
    width: 100%;
    height: auto;
    font-size: 48px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Open Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 48px;
    text-decoration: none;
  }
  
  .grid{
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 120px;
    row-gap: 50px;
  }
  
  .row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-color: blue;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
  }
  .radio-btn-cont{
    width: auto;
    margin-top: 5px;
    /* margin-left: 5px; */
  }
  .radio-btn{
    width: 24px;
    height: 24px;
    background-color: black;
  }
  .answer-option{
    width: 100%;
    font-style: normal;
    margin-left: 12px;
    font-size: 24px;
    color: black;
    font-weight: 400;
  
  }
  
  .frame35 {
    top: 800px;
    left: 0px;
    width: 1440px;
    height: 148px;
    display: flex;
    padding: 24px 88px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    justify-content: space-between;
  }

  .prev_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 20%;
  border-radius: 50px;
  background-color: beige;
  }
  
  .left_icon{
  margin-top: 10px;
  text-align: center;
  width: 24px;
  height: 26px;
  margin-right: 5px;
  }
  
  .previous{
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
  }

  .next_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 20%;
  border-radius: 50px;
  background-color: #0047ab;
  }

  .right_icon{
    margin-top: 10px;
    text-align: center;
    width: 24px;
    height: 26px;
    margin-right: 5px;
    }

    .next{
      background-color: transparent;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      color: #ffffff;
    }

 
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .container {
    padding: 0 2rem;
  }
  
  .main {
    height: 98vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .quiz {
  position: absolute;
  top: 30%;
  left: 39%;
  right: auto;
  bottom: auto;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   width: 970px;
   height: 550px;
   background-color: rgba(255, 255, 255, 1);
  }
  .rectangle1910 {
    top: 184.788818359375px;
    left: 124.5px;
    width: 587px;
    height: 45px;
    opacity: 0.20;
    position: absolute;
    border-color: transparent;
    border-radius: 50px;
  }
  .rectangle1913 {
    top: 306.1885986328125px;
    left: 1219.29248046875px;
    width: 587px;
    height: 45px;
    opacity: 0.20;
    position: absolute;
    border-color: transparent;
    border-radius: 50px;
  }
  .rectangle1912 {
    top: 974.2091064453125px;
    left: -439.3994140625px;
    width: 1182px;
    height: 70px;
    opacity: 0.20;
    position: absolute;
    border-color: transparent;
    border-radius: 50px;
  }
  .time {
    top: 180px;
    left: 670px;
    width: 168px;
    height: 168px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .vector {
    top: 10.630866050720215px;
    left: 15.810754776000977px;
    width: 136px;
    height: 146px;
    position: absolute;
  }
  .vector1 {
    top: 10.630866050720215px;
    left: 15.749939918518066px;
    width: 69px;
    height: 147px;
    position: absolute;
  }
  .text {
    top: 62.642822265625px;
    left: 51.96437454223633px;
    color: var(--dl-color-default-black);
    width: 64px;
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 85.6000006198883%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame28 {
    top: 73px;
    left: 88px;
    width: 194px;
    display: flex;
    padding: 16px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 8px;
    justify-content: center;
    background-color: rgba(238, 238, 238, 1);
  }
  .text02 {
    color: var(--dl-color-default-black);
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 10px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text04 {
    color: var(--dl-color-default-black);
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame36 {
    top: 73px;
    left: 1159px;
    width: 250px;
    display: flex;
    gap: 25px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 8px;
    justify-content: center;
    background-color: rgba(238, 238, 238, 1);
  }
  .cog {
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 10px;
  }
  .text05 {
    color: var(--dl-color-default-black);
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  
  .full_control {
    margin-top: -1em;
  }
  
  .slider_container input {
    vertical-align: bottom;
    margin-left: 25px;
  } 
  .settings_modal{
    position: absolute;
     top: 53%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 396px 111px 0px rgba(0, 0, 0, 0) ;
    border-color: rgba(238, 238, 240, 1);
    border-style: solid;
    border-width: 5px;
    border-radius: 16px;
  }
  .volume{
    margin-top: 80px;
    text-align: center;
  }
  
  .volume_label{
    font-size: 22px;
  }
  .volume_value{
    margin-left: 25px;
  }
  .modal{
    position: absolute;
     top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 970px;
    height: 550px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 396px 111px 0px rgba(0, 0, 0, 0) ;
    border-color: rgba(238, 238, 240, 1);
    border-style: solid;
    border-width: 5px;
    border-radius: 16px;
   } 
   .modal_btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 100px;
   }
   .quizend_modal{
    position: absolute;
     top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 500px;
    background-color: #ffffff;
    border: none;
   } 
   .quizend_text{
    font-weight: bolder;
    text-align: center;
    font-size:  50px;
    width: auto;
   }
   .quizend_btn_text{
    background: transparent;
    font-weight: 400;
    font-size: 18px;
    width: auto;
   }
   .quizend_btn_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    gap: 10px;
   }
   .score_container{
    display: block;
    margin-top: 70px;
    /* margin-inline: auto; */
   }
   .score{
    font-weight: bolder;
    text-align: center;
    font-size:  50px;
    width: auto;
   }
   .btn_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
   }
   .btn{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 20%;
      gap: 5px;
   }
   .btn_img{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    text-align: center;
  
   }
   .play_again{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    gap: 2px;
   }
   .play_img{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    text-align: center;
   }
   .play{
    background: transparent;
    font-weight: 400;
    font-size: 18px;
   }
  .frame38 {
    top: 73px;
    left: 613px;
    width: 224px;
    display: flex;
    padding: 16px;
    position: absolute;
    align-items: center;
    border-color: transparent;
    border-radius: 8px;
    justify-content: center;
    background-color: rgba(238, 238, 238, 1);
  }
  .text07 {
    color: var(--dl-color-default-black);
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 10px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text09 {
    color: var(--dl-color-default-pink);
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame37 {
    top: 350.5px;
    left: 302px;
    width: 836px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
  }
  .text11 {
    color: var(--dl-color-default-blue);
    width: 100%;
    height: auto;
    font-size: 48px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Open Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 48px;
    text-decoration: none;
  }
  
  .grid{
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 120px;
    row-gap: 50px;
  }
  
  .row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-color: blue;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
  }
  .radio-btn-cont{
    width: auto;
    margin-top: 5px;
    /* margin-left: 5px; */
  }
  .radio-btn{
    width: 24px;
    height: 24px;
    background-color: black;
  }
  .answer-option{
    width: 100%;
    font-style: normal;
    margin-left: 12px;
    font-size: 24px;
    color: black;
    font-weight: 400;
  
  }
  
  .frame35 {
    top: 800px;
    left: 0px;
    width: 1440px;
    height: 148px;
    display: flex;
    padding: 24px 88px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    justify-content: space-between;
  }

  .prev_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 20%;
  border-radius: 50px;
  background-color: beige;
  }
  
  .left_icon{
  margin-top: 10px;
  text-align: center;
  width: 24px;
  height: 26px;
  margin-right: 5px;
  }
  
  .previous{
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
  }

  .next_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 20%;
  border-radius: 50px;
  background-color: #0047ab;
  }

  .right_icon{
    margin-top: 10px;
    text-align: center;
    width: 24px;
    height: 26px;
    margin-right: 5px;
    }

    .next{
      background-color: transparent;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      color: #ffffff;
    }
}
